@import 'variables';

.card-course-item{
    margin-top: 16px;
}
.user-avatar{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.form-control-checkbox{
    width: 165px;
    margin: 0 16px;
}